h1 {
    margin: 0;
}
.wrapper {
    display: flex;
    align-items: center;
}

.title {
    margin: 0 15px;
    font-size: 4rem;
    color: #1a94ff;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

.icon {
    font-size: 3rem;
}

.icon.house {
    color: #1a94ff;
}

.icon.heart {
    color: red;
}

@media (max-width: 46.1875em) {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .title,
    .icon {
        font-size: 2rem;
    }
}
