.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.information {
    padding: 10px;
    width: calc(100% / 2);
    text-align: center;
}

.name {
    flex: 1;
    font-size: 4rem;
    line-height: 3rem;
    font-weight: 600;
}

.title {
    padding-top: 14px;
    flex: 1;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

.desc {
    padding-top: 14px;
    flex: 1;
    font-size: 2rem;
    line-height: 20px;
    font-weight: 300;
    text-align: justify;
}
