.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 2px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.skill-items {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 20px;
    text-align: center;
}
