.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.started {
    background-color: #36b37e;
    padding: 8px 20px;
    border-radius: 5px;
}

.vision {
    margin-top: 20px;
}

.mision {
    margin-top: 20px;
}

.subcribe {
    margin-top: 20px;
    position: relative;
}

.subcribe-mail {
    color: var(--black-color);
    font-size: 1rem;
    background-color: #ebf7f2;
    width: 300px;
    padding: 10px 16px;
    border: 1px solid rgba($color: #ccc, $alpha: 0.5);
    border-radius: 30px;
}

.subcribe-btn-wrapper {
    position: absolute;
    top: 3px;
    right: 2px;
}

.subcribe-btn {
    font-size: 1rem;
    color: var(--white-color);
    background-color: #36b37e;
    padding: 8px 25px;
    border-radius: 30px;
}

.started-text {
    color: var(--white-color);
    font-size: 1.8rem;
    margin: 0%;
}

.vision-text {
    font-size: 5rem;
    line-height: 1.2;
    width: 600px;
    font-weight: 700;
    text-align: center;
}

.mision-text {
    color: #9a9a9a;
    width: 400px;
    text-align: center;
    text-transform: initial;
}

.btn-client-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-client {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    background-color: #36b37e;
}

.icon-client {
    font-size: 2rem;
    color: var(--white-color);
}

.section-2 {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.img {
    user-select: none;
    -webkit-user-select: none;
    width: 700px;
    height: 400px;
    position: relative;
}

.section-3 {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba($color: #9a9a9a, $alpha: 0.2);
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    width: 25%;
    text-align: center;
}
