.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: toTop 1s ease-in-out 1;
}

@keyframes toTop {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.infor-contact {
    // display: inline-block
    // margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infor-items {
    display: flex;
    align-items: center;
}

.icon-contact {
    font-size: 1.8rem;
    padding: 12px;
}

.icon-contact.dark {
    color: var(--react-color);
}

.form-1 {
    display: flex;
}

.line-1 {
    padding-right: 5px;
}

.contact-text {
    font-size: 1.8rem;
    color: var(--white-color);
}

.contact-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

.contact-submit {
    float: right;
    height: 35px;
    width: 70px;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;

    &:hover {
        background-color: #ccc;
    }
}

@media (max-width: 46.1875em) {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    .infor-items.address {
        display: none;
    }
}
