.wrapper {
    width: 1200px;
    border: 2px dashed #36b37e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    position: relative;
}

.header-landing-page {
    width: 1000px;
}

.content-landing-page {
    width: 1000px;
}

.footer-landing-page {
    width: 1000px;
}
