.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

.item {
    padding: 20px 0;
    width: var(--width-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white-color);
    border-radius: 20px;
    height: 100%;
    padding: 0 10px;
}

.image {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.text {
    color: #1a94ff;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 4rem;
}

.text-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #1a94ff;
    width: 100%;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    width: calc(100% / 2);
}

.detail-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.image-wrapper {
    width: calc(100% / 2);
}

.name {
    font-size: 3rem;
    font-weight: 700;
}

.desc {
    text-align: justify;
    width: 80%;
    margin: 20px 0;
    font-size: 2rem;
}

.btn-wrapper {
    width: 100%;
}

.btn {
    color: #1a94ff;
    border: 1px solid #1a94ff;
    width: calc(100% / 2);
    height: 40px;
    font-size: 2rem;
    background-color: var(--white-color);
    border-radius: 10px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
        cursor: pointer;
        background-color: #1a94ff;
        color: var(--white-color);
    }
}
