.wrapper {
    width: var(--width-header);
    height: var(--header-height);
    background-color: #20232a;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: 10px;
}

.link-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-btn {
    padding: 10px;
    margin: 0 10px;
    background-color: #20232a;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        color: var(--primary);
    }
}

@keyframes run {
    0% {
        transform: translateX(0);
        background-color: #fff;
        opacity: 0.5;
    }

    100% {
        transform: translateX(2000px);
        background-color: #fff;
        opacity: 0.5;
    }
}
